<section class="px-4 py-8 md:px-8 lg:px-16">
  <div class="flex flex-col-reverse md:flex-row items-center">
    <div class="w-full md:w-1/2 text-center md:text-left mb-8 md:mb-0 md:pr-8">
      <ul class="list-none">
        <li class="flex items-center gap-4">
          <lucide-angular [img]="PanelTopIcon" [size]="48"></lucide-angular>
          <p class="text-xl">Web developement</p>
        </li>
        <li class="flex items-center gap-4">
          <lucide-angular [img]="TabletSmartphoneIcon" [size]="48"></lucide-angular>
          <p class="text-xl">Mobile developement</p>
        </li>
        <li class="flex items-center gap-4">
          <lucide-angular [img]="CloudIcon" [size]="48"></lucide-angular>
          <p class="text-xl">Cloud computing</p>
        </li>
      </ul>
    </div>
    <div class="w-full md:w-1/2 flex flex-col justify-center mb-8 md:mb-0">
      <h1 class="text-center text-3xl font-bold mb-4 text-secondary">À propos de moi</h1>
      <p class="text-center md:text-left text-lg text-gray-700">
        Fort d'une solide expérience en développement fullstack, je dédie désormais mon expertise à
        la création d'interfaces frontend intuitives, réactives et innovantes.
      </p>
    </div>
  </div>
</section>
