<header class="px-4 pt-8 md:px-8 lg:px-16">
  <div class="flex flex-col-reverse md:flex-row items-center">
    <div class="w-full md:w-1/2 text-center md:text-left mb-8 md:mb-0 md:pr-8">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold">Moi c'est Junior</h1>
      <h2 class="text-2xl md:text-3xl lg:text-5xl pt-3 md:pt-5">
        Software Engineer <span class="text-primary">Angular</span>
      </h2>
      <p class="text-lg md:text-xl lg:text-2xl pt-3 md:pt-5 text-secondary">
        Passonié par le Cloud , l' IA et le Low-Code
      </p>
      <a
        href="#contact"
        class="inline-flex items-center justify-center bg-primary text-white btn px-6 py-3 mt-6 md:mt-10 rounded-xl shadow hover:bg-primary transition"
        >Me contacter</a
      >
    </div>
    <div class="w-full md:w-1/2 flex justify-center mb-8 md:mb-0 object-cover">
      <img
        src="assets/images/me.png"
        alt="Junior DAVON"
        class="w-48 h-48 md:w-64 md:h-64 lg:w-160 lg:h-146"
      />
    </div>
  </div>
</header>
<app-skill-bar></app-skill-bar>
